In [22]:
import pandas as pd
import numpy as np
import requests
from datetime import datetime, timedelta
import os
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("C:\\Users\\Ulysse\\Desktop\\Projets persos + Dashboards\\Datasets\\layoffs.csv")

shape_df = len(df)
print("Shape df :", shape_df)

df.head()

Shape df : 3787

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,Edgio,Phoenix,Infrastructure,NaN,1.00,2024-09-09,Post-IPO,United States,529.0
1,InsurStaq.ai,New Delhi,AI,NaN,1.00,2024-09-09,Seed,India,NaN
2,Nori,Seattle,Energy,NaN,1.00,2024-09-09,Unknown,United States,19.0
3,WeTransfer,Amsterdam,Other,260.0,0.75,2024-09-08,Acquired,Netherlands,64.0
4,Goop,Los Angeles,Retail,39.0,0.18,2024-09-06,Unknown,United States,75.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3787 entries, 0 to 3786
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              3787 non-null   object
 1   location             3786 non-null   object
 2   industry             3786 non-null   object
 3   total_laid_off       2474 non-null   float64
 4   percentage_laid_off  2429 non-null   float64
 5   date                 3787 non-null   object
 6   stage                3780 non-null   object
 7   country              3787 non-null   object
 8   funds_raised         3378 non-null   float64
dtypes: float64(3), object(6)
memory usage: 266.4+ KB

In [24]:
df.isnull().sum()

company                   0
location                  1
industry                  1
total_laid_off         1313
percentage_laid_off    1358
date                      0
stage                     7
country                   0
funds_raised            409
dtype: int64

In [26]:
df['date'] = pd.to_datetime(df['date'].replace('0000-00-00', pd.NaT), errors='coerce')

In [35]:
df['percentage_laid_off'] = df['percentage_laid_off'].apply(lambda x: str(x).replace('.', ','))
df['funds_raised'] = df['funds_raised'].apply(lambda x: str(x).replace('.', ','))

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3787 entries, 0 to 3786
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              3787 non-null   object
 1   location             3786 non-null   object
 2   industry             3786 non-null   object
 3   total_laid_off       3787 non-null   int32
 4   percentage_laid_off  3787 non-null   float64
 5   date                 3787 non-null   datetime64[ns]
 6   stage                3780 non-null   object
 7   country              3787 non-null   object
 8   funds_raised         3787 non-null   float64
dtypes: datetime64[ns](1), float64(2), int32(1), object(5)
memory usage: 251.6+ KB

In [36]:
df.to_csv('C:\\Users\\Ulysse\\Desktop\\Projets persos + Dashboards\\Datasets\\layoffs_cleantest.csv', index=True)